{% load i18n %}
<div class="modal order-detail-modal fade" id="order-detail-modal" tabindex="-1"
    aria-labelledby="order-detail-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-0 pb-1" style="width: 560px;">
            <div class="modal-header d-flex justify-content-between" style="height: 56px;">
                <span class="flex-grow-1" style="font-size: 14px;" data-bind="text:info.order.created_at"></span>
                <span class="flex-grow-1" style="font-size: 20px;font-weight: 700;">
                    {% trans "Заказ" %} №<span data-bind="text:info.order.id"></span>
                </span>
                <div class="flex-grow-1 text-end">
                    <button type="button" class="btn opacity-75 flex-grow-1" data-bs-dismiss="modal" aria-label="Close"
                        data-bs-target="#order-detail-modal">
                        <img src="/static/img/icons/close-black.svg" alt="icon">
                    </button>
                </div>
            </div>
            <div class="modal-body p-0" style="max-height: 500px;overflow-y: scroll;">
                <div id="order" style="padding: 16px;">
                    <div>
                        <div class="receipt mt-1">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <span class="fs-16 fw-7">Заказ:</span>
                                <!-- ko if: info.order -->
                                <span class="fs-12" data-bind="text:info.order.status"></span>
                                <!-- /ko -->
                            </div>
                            <div class="items" data-bind="foreach:{data:info.order.items, as:'item'}">
                                <div style="height:40px" class="d-flex justify-content-between mb-3">
                                    <div class="d-flex" style="overflow:hidden">
                                        <div class="user-thumbnail me-3">
                                            <a data-bind="attr:{href:'/shop/product/' + item.product.id}">
                                            <!-- ko if: item.product.cover -->
                                                <img width="40" height="40" data-bind="attr:{src:item.product.cover}">
                                            <!-- /ko -->

                                            <!-- ko if: !item.product.cover -->
                                                <img width="40" height="40" src="/static/img/default-product.jpg" alt="*">
                                            <!-- /ko -->
                                            </a>
                                        </div>

                                        <div class="d-flex flex-column">
                                            <span class="dish-row-title" data-bind="text:item.product.title"></span>
                                            <div>
                                                <span class="dish-row-chars" data-bind="text:item.item_count + ' x ' + item.product.readable_price"></span>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column" style="overflow:hidden">
                                        <span class="text-end dish-row-sum"><span data-bind="text:item.readable_total_sum"></span><span> ₪</span></span>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div id="order-summary">
                                <!-- ko if: info.order.address -->
                                <p>Адрес доставки: <span data-bind="text:info.order.address"></span></p>
                                <!-- /ko -->
                                <!-- ko if: info.order.delivery_date -->
                                <p>Дата доставки: <span data-bind="text:info.order.delivery_date"></span></p>
                                <!-- /ko -->
                                <p class="text-end fs-16 fw-7">Итого: <span data-bind="text:info.order.total_sum"></span><span> ₪</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const orderStatuses = {
        'created': 'Создан',
        'awaiting_payment': 'Ожидает оплаты',
        'awaiting_delivery': 'Ожидает доставки',
        'completed': 'Выполнен',
        'canceled': 'Отменен',
    }
  
    var info = {
        "order": {
            "id": ko.observable(),
            "status": ko.observable(),
            "total_sum": ko.observable(),
            "created_at": ko.observable(),
            "items": ko.observableArray(),
            "address": ko.observable(),
            "phone": ko.observable(),
            "delivery_date": ko.observable(),
        },
    }

    ko.applyBindings({
        "info": info
    }, document.getElementById("order-detail-modal"));

    const orderDetailModal = document.getElementById('order-detail-modal');
    if (orderDetailModal) {
        orderDetailModal.addEventListener('show.bs.modal', (event) => {
            // Button that triggered the modal
            const el = event.relatedTarget;
            // Extract info from data-bs-* attributes
            const orderNumber = el.getAttribute('data-bs-order');

            $.get(`${window.location.origin}/api/order-detail/${orderNumber}`)
                .done(
                    (data) => {
                        info.order.id(data.order.id);
                        info.order.status(orderStatuses[data.order.status]);
                        info.order.address(data.order.address);
                        info.order.phone(data.order.phone);
                        info.order.delivery_date(data.order.readable_delivery_date + ' ' + data.order.readable_delivery_time);
                        info.order.created_at(data.order.readable_date + ' ' +data.order.readable_time);
                        info.order.total_sum(data.order.readable_total_sum);
                        info.order.items.removeAll();
                        for (var item of data.order.items) {
                            info.order.items.push(item);
                        }
                    }
                );
        })
    }
</script>