{% load i18n %}
<div class="modal fade" id="transfer-modal" tabindex="-1" aria-labelledby="topup-request-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-0">

            <div class="fw-bold mx-auto mb-0 text-center px-3 border-b-gray py-3 w-100">
                <h2 class="h2 mb-0">Перевести деньги</h2>
            </div>
            <form class="modalForm px-3 py-3" action="{% url 'shop:create_transfer' %}" method="post" id="table-booking-add-form">
                {% csrf_token %}
                <div class="row py-1">
                    <div class="col-12">
                        <div class="inputW">
                            <div class="inputName text-uppercase fw-medium text--sm mb-2">
                                Сумма
                            </div>
                            <input class="formInput" type="number" step="1" required name="amount" id="topup-amount-input" min="1" max="{{ buyer_balance_int }}" value="">
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12">
                        <div class="inputW">
                            <div class="inputName text-uppercase fw-medium text--sm mb-2">
                                ID получателя
                            </div>
                            <input class="formInput" type="number" step="1" required placeholder="ID получателя"
                                   name="receiver"  value="">
                        </div>
                    </div>
                </div>

                <div class="d-flex orderBtnW mt-4">
                    <button type="submit" class="button button--lg button--blue w-100 px-2">
                        Перевести
                    </button>
                </div>
            </form>

            <button type="button" class="btn-close mx-0 opacity-75"  data-bs-dismiss="modal"
                            aria-label="Close" data-bs-target="#table-booking-add-modal">
                <img src="/static/img/icons/close-black.svg" alt="icon">
            </button>

        </div>
    </div>
</div>
<script>
    const topupRequestModal = document.getElementById('topup-request-modal');
    const topupAmountInput = document.getElementById('topup-amount-input');

    topupRequestModal.addEventListener('show.bs.modal', function (event) {
        const amount = event.relatedTarget.getAttribute('data-amount');
        if (amount) {
            topupAmountInput.value = amount;
        }
    });
</script>