{% load filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Дашборд денежных переводов</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
    /* Основной стиль для горизонтальной прокрутки */
    .dashboard-container {
      display: flex;
      overflow-x: auto;
      padding: 20px 0;
    }

    /* Стиль колонок */
    .task-column {
      min-width: 350px;
      padding: 15px;
      border-right: 1px solid #dee2e6;
    }

    /* Выравнивание высоты заголовков */
    .task-column h5 {
      text-align: center;
      font-weight: bold;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 5px;
      margin-bottom: 15px;
      min-height: 70px; /* Общая высота для выравнивания */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* Стиль карточек задач */
    .task-card {
      border-radius: 10px;
      padding: 8px;
      margin-bottom: 10px;
    }

    .task-card .task-number {
      font-weight: bold;
      color: inherit;
    }
    .task-amount {
        font-weight: bold;
        color: inherit;
      }

    .task-card .task-info {
      margin: 2px 0;
      font-size: 0.8rem;
    }

    .small {
        font-size: 0.5rem;
      }

    /* Цвета для каждого этапа */
    .column-error .task-card { background-color: rgba(255, 0, 0, 0.1); border: 1px solid #dc3545; }
    .column-sent .task-card { background-color: rgba(108, 117, 125, 0.1); border: 1px solid #6c757d; }
    .column-received .task-card { background-color: rgba(23, 162, 184, 0.1); border: 1px solid #17a2b8; }
    .column-loan .task-card { background-color: rgba(255, 193, 7, 0.1); border: 1px solid #ffc107; }
    .column-delivered .task-card { background-color: rgba(40, 167, 69, 0.1); border: 1px solid #28a745; }
    .column-cancelled .task-card { background-color: rgba(128, 0, 128, 0.1); border: 1px solid #800080; }
    .column-waiting .task-card { background-color: rgba(255, 165, 0, 0.1); border: 1px solid #ffa500; }

    /* Подзадачи */
    .subtask {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid #ccc;
      font-size: 0.7rem;
    }
  </style>
</head>
<body class="pb-3">

<div class="container-fluid pt-3">
  <form method='GET'>
    <div class="row mb-4">
        <div class="col-md-1">
          {% include 'menu.html' %}
        </div>
        <div class="col-md-3">
            <label for="dateFrom" class="form-label">Дата от:</label>
            <input type="date" name="date-from" id="dateFrom" class="form-control" {% if date_from %}value="{{ date_from }}"{% endif %}>
        </div>
        <div class="col-md-3">
            <label for="dateTo" class="form-label">Дата до:</label>
            <input type="date" name="date-to" id="dateTo" class="form-control" {% if date_to %}value="{{ date_to }}"{% endif %}>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" id="applyFilter" class="btn btn-primary w-100">Применить фильтр</button>
        </div>
    </div>
  </form>
  {% comment %} <div class="column">
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-error')"> Ошибка
    </label>
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-cancelled')"> Отменено клиентом
    </label>
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-waiting')"> Ожидает подтверждения клиентом
    </label>
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-sent')"> Передано в Circuit
    </label>
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-received')"> Получено
    </label>
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-loan')"> Выдано (в кредит)
    </label>
    <label class="pe-2">
      <input type="checkbox" checked onchange="ShowHideColumn(event, 'column-delivered')"> Выдано
    </label>
  </div> {% endcomment %}
  <!-- Горизонтальная прокрутка с задачами -->
  <div class="dashboard-container">

    <!-- Колонка "Ошибки передачи" -->
    <div class="task-column column-error">
      <h5>Ошибки верификации/передачи в Circuit</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_error %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    <div class="subtask">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Имя: {{ transfer.receiver.name }}</span><br>
                            <div class="task-number">#{{ transfer.id }}</div>
                        </div>
                        {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                        <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                        <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Колонка "Отменено клиентом" -->
    <div class="task-column column-cancelled">
      <h5>Отменено клиентом</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_cancelled %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    {% if not transfer.pass_date %}
                        <div class="subtask">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Имя: {{ transfer.receiver.name }}</span><br>
                                <div class="task-number">#{{ transfer.id }}</div>
                            </div>
                            {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                            <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                            <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>


    <!-- Колонка "Ожидает подтверждения клиентом" -->
    <div class="task-column column-waiting">
      <h5>Ожидает подтверждения клиентом</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_waiting %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    {% if not transfer.pass_date %}
                        <div class="subtask">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Имя: {{ transfer.receiver.name }}</span><br>
                                <div class="task-number">#{{ transfer.id }}</div>
                            </div>
                            {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                            <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                            <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>


    <!-- Колонка "Передано в Circuit" -->
    <div class="task-column column-sent">
      <h5>Передано в Circuit</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_circuit %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    {% if not transfer.pass_date %}
                        <div class="subtask">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Имя: {{ transfer.receiver.name }}</span><br>
                                <div class="task-number">#{{ transfer.id }}</div>
                            </div>
                            {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                            <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                            <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Колонка "Получено от отправителя" -->
    <div class="task-column column-received">
      <h5>Получено от отправителя</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_received %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    {% if not transfer.pass_date %}
                        <div class="subtask">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Имя: {{ transfer.receiver.name }}</span><br>
                                <div class="task-number">#{{ transfer.id }}</div>
                            </div>
                            {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                            <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                            <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Колонка "Выдано получателю (в кредит)" -->
    <div class="task-column column-loan">
      <h5>Выдано получателю (в кредит)</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_loan %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    {% if transfer.pass_date and transfer.credit %}
                        <div class="subtask">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Имя: {{ transfer.receiver.name }}</span><br>
                                <div class="task-number">#{{ transfer.id }}</div>
                            </div>
                            {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                            <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                                <div class="small text-muted ms-2">{{ transfer.pass_date|israel_time }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Колонка "Выдано получателю" -->
    <div class="task-column column-delivered">
      <h5>Выдано получателю</h5>
      {% for delivery in deliveries %}
        {% if delivery.is_finished %}
            <div class="task-card">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="task-number">#{{ delivery.id }}</div>
                    <div class="small text-muted ms-2">{{ delivery.status }}</div>
                    <div class="small text-muted ms-2">{{ delivery.created_at|israel_time }}</div>
                </div>
                <div class="task-info">Имя: {{ delivery.sender.name }}</div>
                <div class="task-info">Номер: {{ delivery.sender.phone}}</div>
                <div class="task-info">Адрес: {{ delivery.sender_address.address }}</div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if delivery.usd_amount %}<div class="task-amount task-info text-muted">{{ delivery.usd_amount|to_int }}$</div>{% endif %}
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">{{ delivery.ils_amount|to_int }}₪</div>{% endif %}
                    <div class="task-amount task-info text-muted">+{{ delivery.commission|to_int }}₪</div>
                    {% if delivery.ils_amount %}<div class="task-amount task-info text-muted">({{ delivery.total_usd|to_int }}$)</div>{% endif %}
                </div>
                {% for transfer in delivery.transfers.all %}
                    {% if transfer.pass_date and transfer.credit is False %}
                        <div class="subtask">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Имя: {{ transfer.receiver.name }}</span><br>
                                <div class="task-number">#{{ transfer.id }}</div>
                            </div>
                            {% if transfer.pick_up %}<span>Доставка: {{ transfer.address.address }}</span><br>{% endif %}
                            <span>Телефон: {{ transfer.receiver.phone }}</span><br>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Сумма: {{ transfer.usd_amount|to_int }} $</span><br>
                                <div class="small text-muted ms-2">{{ transfer.pass_date|israel_time }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>

<!-- Скрипты -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
  $(document).ready(function () {
    // Пример обработки кнопки фильтрации
    $('#applyFilter').on('click', function () {
      const dateFrom = $('#dateFrom').val();
      const dateTo = $('#dateTo').val();
      // Логика фильтрации по датам
      console.log('Фильтр по датам:', dateFrom, dateTo);
    });
  });

  function ShowHideColumn (event, column) {
    const ActionColumn = document.querySelector(`.${column}`)
    ActionColumn.style.display = event.target.checked ? 'block' : 'none';
  }
</script>

</body>
</html>
