.wp-8 {
    width: 8px;
}

.wp-10 {
    width: 10px;
}

.wp-12 {
    width: 12px;
}

.wp-14 {
    width: 14px;
}

.wp-16 {
    width: 16px;
}

.wp-18 {
    width: 18px;
}

.wp-20 {
    width: 20px;
}

.wp-22 {
    width: 22px;
}

.wp-24 {
    width: 24px;
}

.wp-30 {
    width: 30px;
}

.wp-32 {
    width: 32px;
}

.wp-40 {
    width: 40px;
}

.wp-44 {
    width: 44px;
}

.wp-48 {
    width: 48px;
}

.wp-56 {
    width: 56px;
}

.wp-64 {
    width: 64px;
}

.wp-80 {
    width: 80px;
}

.wp-100 {
    width: 100px;
}

.wp-110 {
    width: 110px;
}


.wp-120 {
    width: 120px;
}

.wp-130 {
    width: 130px;
}


.wp-140 {
    width: 140px;
}

.wp-160 {
    width: 160px;
}

.wp-180 {
    width: 180px;
}

.wp-200 {
    width: 200px;
}

.wp-300 {
    width: 300px;
}

.hp-8 {
    height: 8px;
}

.hp-10 {
    height: 10px;
}

.hp-12 {
    height: 12px;
}

.hp-14 {
    height: 14px;
}

.hp-16 {
    height: 16px;
}

.hp-18 {
    height: 18px;
}

.hp-20 {
    height: 20px;
}

.hp-22 {
    height: 22px;
}

.hp-24 {
    height: 24px;
}

.hp-30 {
    height: 30px;
}

.hp-32 {
    height: 32px;
}

.hp-40 {
    height: 40px;
}

.hp-44 {
    height: 44px;
}

.hp-48 {
    height: 48px;
}

.hp-56 {
    height: 56px;
}

.hp-64 {
    height: 64px;
}

.hp-80 {
    height: 80px;
}

.hp-100 {
    height: 100px;
}

.hp-110 {
    height: 110px;
}

.hp-120 {
    height: 120px;
}

.hp-130 {
    height: 130px;
}

.hp-140 {
    height: 140px;
}

.hp-150 {
    height: 150px;
}


.hp-160 {
    height: 160px;
}

.hp-180 {
    height: 180px;
}

.hp-200 {
    height: 200px;
}

.hp-300 {
    height: 300px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fs-44 {
    font-size: 44px;
}

.fs-48 {
    font-size: 48px;
}

.fw-4 {
    font-weight: 400;
}

.fw-7 {
    font-weight: 700;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}