{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    <!-- third party -->

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/knockout.js' %}"></script>
    <script src="{% static 'js/fa.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/qrcode.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fa.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-client.css' %}?v=4">
    {% block thirdparty %}{% endblock%}

    <!-- site -->
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/sizes.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=2">

    {% block styles %}{% endblock%}
    {% block scripts %}{% endblock%}
</head>

<body>
    {% block layout %}{% endblock%}
    {% include 'common/components/modals/fail.html' %}
    {% block modals %}{% endblock %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get("open_modal") === "1") {
                let modal = new bootstrap.Modal(document.getElementById("success-save-modal"));
                modal.show();
            }
        });
    </script>
    <script>
      function closeApp() {
        if (window.Telegram && window.Telegram.WebApp) {
          window.Telegram.WebApp.close();
        }
      }
    </script>
    <script>
      function checkTelegramWebApp() {
          if (window.Telegram && window.Telegram.WebApp) {
              try {
                  window.Telegram.WebApp.disableVerticalSwipes()
              } catch (error) {
              }
              try {
                  window.Telegram.WebApp.expand()
              } catch (error) {
              }
              clearInterval(intervalId);
          }
      }

      const intervalId = setInterval(() => {
          checkTelegramWebApp()
      }, 100);
    </script>
</body>

</html>