{% extends 'client/page-layout.html' %}
{% load static %}
{% load filters %}

{% block title %}Избранное{% endblock%}

{% block thirdparty %}{% endblock%}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style-client.css' %}">
{% endblock%}

{% block scripts %}
    <script src="{% static 'js/restaurant-script.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock%}


{% block content %}
    <main class="main">
        <div class="pageHeadW">
            <div class="container">
                <div class="pageHead d-flex justify-content-between align-items-center py-2">
                    <a class="pageHeadBack d-flex align-items-center" href="{% url 'shop:catalog' %}">
                        <button class="pageHeadBackBtn">
                            <img src="/static/img/icons/arrow-back.svg" alt="icon">
                        </button>
                        Избранное
                    </a>
                </div><!-- /pageHead -->
            </div>
        </div>
        <div class="catalogW py-3">
            <div class="container">
                <div id="favorites-list" class="catalogGrid" data-bind="foreach:{data:state.favs, as:'fav'}">
                    <div class="catalogCard">
                        <div class="catalogCardBottom">
                            <a data-bind="attr:{href:`/shop/product/${fav.product.id}`}" class="catalogCardImg">
                                <img class="catalogCardImg" data-bind="attr:{src: fav.product.cover ? fav.product.cover : '/static/img/default-product.jpg'}" alt="image">
                            </a>
                            <button onclick="changeFav(event)" class="catalogCardWishlist active" data-bind="attr:{data:fav.product.id}">
                            </button>
                        </div>
    
                        <div class="catalogCardBottom">
                            <div class="catalogCardContent">
                                <div class="catalogCardTitle mb-1" data-bind="text:fav.product.title"></div>
                                <p class="catalogCardDescr mb-2" data-bind="text:fav.product.description"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="catalogCardWeight" data-bind="text:fav.product.unit.title"></div>
                                </div>
                            </div>
                            <div class="catalogCardAction catalogCardAction--default d-flex justify-content-between align-items-center mt-2">
                                <div class="catalogCardPrice" data-bind="text:`${fav.product.readable_price} ₪`"></div>
    
                                <!-- ko if: !fav.in_cart -->
                                <button class="catalogCardPlus" data-bind="attr:{data:fav.product.id}" onclick="addToCart(event)">
                                    <img src="/static/img/icons/plus.svg" data-bind="attr:{data:fav.product.id}" alt="plus">
                                </button>
                                <!-- /ko -->
                                <!-- ko if: fav.in_cart -->
                                <div class="productCardCount productQuantity" data-title="Количество">
                                    <button class="productQuantityMinus productQuantityBtn" data-bind="attr:{data:fav.product.id}" onclick="decreaseFromCart(event)">
                                        <img src="/static/img/icons/minus.svg" data-bind="attr:{data:fav.product.id}" alt="minus">
                                    </button>
                                    <input type="number" max="99" step="1" min="0" data-bind="value:fav.item_count" title="Кол-во" inputmode="numeric" autocomplete="off">
                                    <button class="productQuantityPlus productQuantityBtn" data-bind="attr:{data:fav.product.id}" onclick="addToCart(event)">
                                        <img src="/static/img/icons/plus-grey.svg" data-bind="attr:{data:fav.product.id}" alt="plus">
                                    </button>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div><!-- /catalogCard -->
                </div>
                <span hx-trigger="intersect once delay:200ms"></span>
                <!-- ko if: state.favs().length == 0 -->
                    <div class="cartEmpty">
                        <div class="container">
                            <div class="cartEmptyW text-center d-flex justify-content-center flex-column align-items-center">
                                <div><h2>В избранном ничего нет</h2></div>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>
    </main>
    <script>
        var count = 0

        var state = {
            favs: ko.observableArray(),
        }

        ko.applyBindings({
            "state": state
        });

        function addFavorites() {
            var url = `{% url 'api:favorites' %}?count=${count}`;

            $.get(url).done((data) => {
                for (var favorite of data.favorites) {
                    state.favs.push(favorite)
                }
                count += data.favorites.length
            })
        }

        function initFavorites() {
            var url = "{% url 'api:favorites' %}";

            $.get(url).done((data) => {
                state.favs.removeAll();
                for (var favorite of data.favorites) {
                    state.favs.push(favorite)
                }
                document.addEventListener("intersect", (event) => {
                    addFavorites();
                });
                count += data.favorites.length
            })
        }

        function addToCart(event) {
            const productId = event.target.getAttribute("data");
            if (!productId) { return }
            $.post(
                "{% url 'api:add_to_cart' %}",
                JSON.stringify({ "product_id": productId })
            ).done(
                () => {
                    loadFavorites(); // обновляем список избранных
                }).fail(() => { alert("Ошибка при добавлении товара в корзину, перезагрузите страницу и попробуйте снова"); });
        }

        function decreaseFromCart(event) {
            const productId = event.target.getAttribute("data");
            if (!productId) { return }
            $.post(
                "{% url 'api:decrease_from_cart' %}",
                JSON.stringify({ "product_id": productId })
            ).done(
                () => {
                    loadFavorites(); // обновляем список избранных
                }).fail(() => { alert("Ошибка при удалении товара из корзины, перезагрузите страницу и попробуйте снова"); });
        }

        function loadFavorites() {
            var curr_count = count;
            if (curr_count == 0) {
                curr_count = 12;
            }
            var url = `{% url 'api:favorites' %}?count=${curr_count}&all=true`;

            $.get(url).done((data) => {
                state.favs.removeAll();
                for (var favorite of data.favorites) {
                    state.favs.push(favorite)
                }
                count = data.favorites.length
            })
        }

        function changeFav(event) {
            var el = event.target;
            if (el.tagName == "IMG") {
                var btn = el.parentElement;
            } else {
                var btn = el;
            }
            var productId = btn.getAttribute("data");
            if (!productId) { return }
            $.post(
                "{% url 'api:change_favorites' %}",
                JSON.stringify({ "product_id": productId })
            ).done(
                () => {
                    btn.classList.remove("active");
                    var order = btn.parentElement.parentElement;
                    order.remove();
                }
            ).fail(() => { alert("Произошла ошибка, перезагрузите страницу и попробуйте снова"); });
        }

        initFavorites();
    </script>
{% endblock%}